<template name="rewards">
    <div class="container">
        <div id="page-les-bases">
            <div class="well-full">
                <div class="row">
                    <div class="panel-body">
                        <div class="dataTable_wrapper">
                            <table class="table table-striped table-bordered table-hover" id="dataTables-example">
                                <thead>
                                    <tr>
                                        <th>Money</th>
                                        <th>Description</th>
                                        <th>Month</th>
                                        <th>Year</th>
                                        <th>Stock</th>
                                        <th>Tools</th>
                                    </tr>
                                </thead>
                                <tbody >
                                {{#each getreward}}
                                    <tr class="odd gradeX">
                                    
                                        <td>{{money}}</td>
                                        <td>{{shortIt description}}</td>
                                        <td>{{month}}</td>
                                        <td>{{year}}</td>
                                        <td>{{stock}}</td>
                                        <td>
                                            <button id="remove">Delete</button>
                                        </td>
                                    
                                    </tr>
                                    {{/each}}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div> 
    </div>  
</template>