<template name="mainmenu">
	<div id="page-detail">
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 mar-btn-space">
					<div class="control-btns">
                        <div class="col-xs-12 col-sm-4 col-md-2 col-lg-2">
                            <button class="btn-lg btn-info col-lg-12 col-md-12 col-xs-12" id="first">My Friends</button>
                        </div> 
                        <div class="col-xs-12 col-sm-4 col-md-2 col-lg-2">
                        	<a href="/myproject">
                            <button class="btn-lg btn-black col-lg-12 col-md-12 col-xs-12" id="mypro">My Project</button>
                            </a>
                        </div> 
                        <div class="col-xs-12 col-sm-4 col-md-2 col-lg-2">
                        	<a href="/contribution">
                            <button class="btn-lg btn-black col-lg-12 col-md-12 col-xs-12" id="contri">Contributions</button>
                            </a>
                        </div> 
                        <div class="col-xs-12 col-sm-4 col-md-2 col-lg-2">
                        	<a href="/message">
                            <button class="btn-lg btn-black col-lg-12 col-md-12 col-xs-12">Messages</button>
                            </a>
                        </div>                    
                        <div class="col-xs-12 col-sm-4 col-md-2 col-lg-2">
                        	<a href="/displaynews">
                            <button  class="btn-lg btn-black col-lg-12 col-md-12 col-xs-12" id="displaynews">News</button>
                            </a>
                        </div> 
                        <div class="col-xs-12 col-sm-4 col-md-2 col-lg-2">
                        	<a href="/addprofile">
                            <button class="btn-lg btn-black col-lg-12 col-md-12 col-xs-12">Profile</button>
                            </a>
                        </div>  
                    </div>
				</div>
			</div>
            <div class="clearfix"></div>
	   </div>
</template>