<template name="projectsaray">
  <section id="section-image">
    <div class="container">
      <h1>Select a Category</h1>
      <div class="btn-section col-lg-12">
        <div class="row">
          <div class="col-lg-6">
            <button type="button" class="btn-lg btn-black col-lg-3 pull-right">Art</button>
          </div>
          <div class="col-lg-3 col-lg-offset-1">
            <button type="button" class="btn-lg btn-black col-lg-6 pull-right">Edition</button>
          </div>
        </div>
      </div>
      <div class="btn-section col-lg-12">
        <div class="row ">
          <div class="col-lg-3 ">
            <button type="button" class="btn-lg btn-black col-lg-8 center-block">BD</button>
          </div>
          <div class="col-lg-3">
            <button type="button" class="btn-lg btn-black col-lg-7 center-block">Artisanat</button>
          </div>
          <div class="col-lg-3">
            <button type="button" class="btn-lg btn-black col-lg-8 center-block">Danse</button>
          </div>
          <div class="col-lg-3">
            <button type="button" class="btn-lg btn-black col-lg-8 center-block">Technologie</button>
          </div>
        </div>
      </div>
      <div class="btn-section col-lg-12">
        <div class="row center-block">
          <div class="col-lg-3">
            <button type="button" class="btn-lg btn-black col-lg-8 center-block">Design</button>
          </div>
          <div class="col-lg-3">
            <button type="button" class="btn-lg btn-black col-lg-7 center-block">Théàtre</button>
          </div>
          <div class="col-lg-3">
            <button type="button" class="btn-lg btn-black col-lg-9 center-block">Cinema et Vidéo</button>
          </div>
          <div class="col-lg-3">
            <button type="button" class="btn-lg btn-black col-lg-8 center-block">Photographe</button>
          </div>
        </div>
      </div>
      <div class="btn-section col-lg-12">  
        <div  class="row">
          <div class="col-lg-3">
            <button type="button" class="btn-lg btn-black col-lg-7 ">Musique</button>
          </div>
          <div class="col-lg-2">
            <button type="button" class="btn-lg btn-black col-lg-10 ">Mode</button>
          </div>
          <div class="col-lg-2">
            <button type="button" class="btn-lg btn-info col-lg-11 pull-right">Gastronomie</button>
          </div>
          <div class="col-lg-2">
            <button type="button" class="btn-lg btn-black col-lg-10 pull-right">Jeux</button>
          </div>
          <div class="col-lg-3">
            <button type="button" class="btn-lg btn-black col-lg-7 pull-right">Journalisme</button>
          </div>
        </div>
      </div>
    </div>
    <div id="bg-ul">
        <div class="container">
        <div class=" col-lg-11  col-lg-offset-1">
          <div class="sort-by-ul">
              <ul class="list-sort-by">
                    <li class="text-sort-by">Sort by:</li>
                    <li class="active" id="basic"><a href="#">Basic</a></li>
                    <li id="popular"><a href="#">Popular</a></li>
                    <li id="end_date"><a href="#">End date</a></li>
                    <li id="seniority"><a href="#">Seniority</a></li>
                    <li id="funding"><a href="#">Funding</a></li>
              </ul>
          </div>
        </div>
        </div>
    </div>
  </section>

    <div class="container" style="background-color: #e1eaec;">
        <div id="page-les-bases">
            <div class="art-title">
                <h2>Projects Food Day</h2>
            </div>
            <div class="clearfix"></div>
            <div class="well-flow">
                <div class="row">
                    {{#each getprobydate}}
                        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 left">
                            <a href="/projectdetail/{{_id}}" title="Startup One Page">
                                <img src="/upload/{{getimage image}}" class="img-responsive center-block img-title" alt="Startup One Page" title="Startup One Page" width="266"/>
                            </a>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 center">
                            <div class="padding-top-box">
                                <h4 class="sea">{{title}}</h4>
                                <p class="description">{{shortIt description}}</p>
                                <!-- <p>{{createdAt}}</p> -->
                                <div class="row">
                                    <div class="col-lg-7">
                                        {{#each getUser ownerId}}
                                            <p class="blue"><a href="/userinfo/{{_id}}">{{profile.username}}{{services.facebook.name}}</a></p>
                                        {{/each}}
                                    </div>
                                    <div class="col-lg-5">
                                        {{#each getcat}}
                                            <p><a href="/listprobycat/{{_id}}">{{name}}</a></p>
                                        {{/each}}
                                    </div> 
                                </div>
                                <div class="row">
                                    <div class="col-lg-2">
                                        <img src="images/process1.png" class="img-description">
                                    </div>
                                    <div class="col-lg-5">
                                        <p class="black">${{goal}}</p>
                                        <p class="description">Financé à &nbsp; <b>42%</b></p>
                                    </div>
                                    <div class="col-lg-5">
                                        <p class="black-blur-top">{{totalLike}} <span class="glyphicon glyphicon-heart" aria-hidden="true"></span> &nbsp; <span>J-32</span></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2 right"></div>
                    {{/each}}
                </div>
            </div>

          <div class="box-title">
            <div class="col-lg-12" style="text-align: center;">
                  <div class="col-lg-4">
                    <h2>Nouveautés</h2>
                  </div>
                  <div class="col-lg-4">
                    <h2>Tendances</h2>
                  </div>
                  <div class="col-lg-4">
                    <h2>Meilleurs likes</h2>
                  </div>
              </div>
          </div>
        
          <div class="well-box">
            <div class="row">
              <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 right-box">
                <div class="row-pad">
                {{#each getprobydate}}
                    <p class="blue">{{title}}</p>
                    <a href="/projectdetail/{{_id}}" title="Startup One Page">
                        <img src="/upload/{{getimage image}}" class="img-responsive center-block img-title" alt="Startup One Page" title="Startup One Page" width="266"/>
                    </a>
                    <p class="black-small">{{shortIt description}}</p>
                    <!-- <p>{{createdAt}}</p> -->
                  <div class="row">
                    <div class="col-lg-7">
                        {{#each getUser ownerId}}
                            <p class="blue"><a href="/userinfo/{{_id}}">{{profile.username}}{{services.facebook.name}}</a></p>
                        {{/each}}                      
                    </div>
                    <div class="col-lg-5">
                        {{#each getcat}}
                            <p><a href="/listprobycat/{{_id}}">{{name}}</a></p>
                        {{/each}}
                    </div> 
                  </div>
                    <div class="row">
                      <div class="col-lg-3">
                          <img src="images/process1.png" class="img-responsive">    
                      </div>
                      <div class="col-lg-2">
                            <div class="clearfix-on-row">
                               <p class="black">${{goal}}</p>
                               <p class="black">44%</p>
                            </div>
                      </div>
                      <div class="col-lg-7">
                          <p class="black-blur-top pull-right">{{totalLike}} <span class="glyphicon glyphicon-heart" aria-hidden="true"></span>&nbsp; <span>J-32</span></p>  
                          <p class="pull-right"><span>{{datemax}}</span></p>           
                      </div>
                    </div>
                {{/each}}
                </div>
              </div>
              <!-- donation -->
              <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 right-box">
                <div class="row-pad">
                {{#each getprobydonate}}
                    <p class="blue">{{title}}</p>
                    <a href="/projectdetail/{{_id}}" title="Startup One Page">
                        <img src="/upload/{{getimage image}}" class="img-responsive center-block img-title" alt="Startup One Page" title="Startup One Page" width="266"/>
                    </a>
                    <p class="black-small">{{shortIt description}}</p>
                    <!-- <p>{{createdAt}}</p> -->
                  <div class="row">
                    <div class="col-lg-7">
                        {{#each getUser ownerId}}
                            <p class="blue"><a href="/userinfo/{{_id}}">{{profile.username}}{{services.facebook.name}}</a></p>
                        {{/each}}
                    </div>
                    <div class="col-lg-5">
                        {{#each getcat}}
                            <p><a href="/listprobycat/{{_id}}">{{name}}</a></p>
                        {{/each}}
                    </div> 
                  </div>
                    <div class="row">
                      <div class="col-lg-3">
                          <img src="images/process1.png" class="img-responsive">    
                      </div>
                      <div class="col-lg-2">
                            <div class="clearfix-on-row">
                               <p class="black">${{goal}}</p>
                               <p class="black">44%</p>
                            </div>
                      </div>
                      <div class="col-lg-7">
                          <p class="black-blur-top pull-right">{{totalLike}} <span class="glyphicon glyphicon-heart" aria-hidden="true"></span>&nbsp; <span>J-32</span></p>
                            <p class="pull-right"><span>{{datemax}}</span></p>                   
                      </div>
                    </div>
                {{/each}}
                </div>
              </div>
            <!-- get project by most like -->
              <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 right-box">
                <div class="row-pad">
                {{#each getprobylike}}
                    <p class="blue">{{title}}</p>
                    <a href="/projectdetail/{{_id}}" title="Startup One Page">
                        <img src="/upload/{{getimage image}}" class="img-responsive center-block img-title" alt="Startup One Page" title="Startup One Page" width="266"/>
                    </a>
                    <p class="black-small">{{shortIt description}}</p>
                    <!-- <p>{{createdAt}}</p> -->
                  <div class="row">
                    <div class="col-lg-7">
                        {{#each getUser ownerId}}
                            <p class="blue"><a href="/userinfo/{{_id}}">{{profile.username}}{{services.facebook.name}}</a></p>
                        {{/each}}                 
                    </div>
                    <div class="col-lg-5">
                        {{#each getcat}}
                            <p><a href="/listprobycat/{{_id}}">{{name}}</a></p>
                        {{/each}}
                    </div> 
                  </div>
                    <div class="row">
                      <div class="col-lg-3">
                          <img src="images/process1.png" class="img-responsive">    
                      </div>
                      <div class="col-lg-2">
                            <div class="clearfix-on-row">
                               <p class="black">${{goal}}</p>
                               <p class="black">44%</p>
                            </div>
                      </div>
                      <div class="col-lg-7">
                          <p class="black-blur-top pull-right">{{totalLike}} <span class="glyphicon glyphicon-heart" aria-hidden="true"></span>&nbsp; <span>J-32</span></p>
                          <p class="pull-right"><span>{{datemax}}</span></p>           
                      </div>
                    </div>
                {{/each}}
                </div>
              </div>
            </div>
          </div>

        </div> 
        <h2>Tous les projects</h2>
    </div>
    {{#if comparePop}}
        <section id="special-layout">
            <div id="page-la-bases">
                <div class="well-box">
                    <div class="row">
                        {{#each sortPopular}}
                            {{#each getAllProList}}
                        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 left-box row-pad">
                            <p class="blue">{{title}}</p>
                            <a href="/projectdetail/{{_id}}" title="Startup One Page">
                                <img src="/upload/{{getimage image}}" class="img-responsive center-block img-title" alt="Startup One Page" title="Startup One Page" width="266"/>
                            </a>
                            <p class="black-small">{{shortIt description}}</p>
                            <div class="row">
                                <div class="col-lg-7">
                                    {{#each getUser ownerId}}
                                        <p class="blue"><a href="/userinfo/{{_id}}">{{profile.username}}{{services.facebook.name}}</a></p>
                                    {{/each}}                      
                                </div>
                                <div class="col-lg-5">
                                    {{#each getcat}}
                                        <p><a href="/listprobycat/{{_id}}">{{name}}</a></p>
                                    {{/each}}
                                </div> 
                            </div>
                            <div class="row">
                                <div class="col-lg-3">
                                    <img src="images/process1.png" class="img-responsive">    
                                </div>
                                <div class="col-lg-2">
                                    <div class="clearfix-on-row">
                                       <p class="black">${{goal}}</p>
                                       <p class="black">44%</p>
                                    </div>
                                </div>
                                <div class="col-lg-7">
                                    <p class="black-blur-top pull-right">{{totalLike}} <span class="glyphicon glyphicon-heart" aria-hidden="true"></span>&nbsp; <span>J-32</span></p>
                                    <p class="pull-right"><span>{{datemax}}</span></p>     
                                </div>
                            </div>
                        </div>
                        {{/each}}
                        {{/each}}
                    </div>
                </div>
            </div>
        </section>
    {{/if}}
    {{#if compareDate}}
        <section id="special-layout">
            <div id="page-la-bases">
                <div class="well-box">
                    <div class="row">
                        {{#each sortNews}}
                            {{#each getFirstDate diffDaysCur}}
                        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 left-box row-pad">
                            <p class="blue">{{title}}</p>
                            <a href="/projectdetail/{{_id}}" title="Startup One Page">
                                <img src="/upload/{{getimage image}}" class="img-responsive center-block img-title" alt="Startup One Page" title="Startup One Page" width="266"/>
                            </a>
                            <p class="black-small">{{shortIt description}}</p>
                            <div class="row">
                                <div class="col-lg-7">
                                    {{#each getUser ownerId}}
                                        <p class="blue"><a href="/userinfo/{{_id}}">{{profile.username}}{{services.facebook.name}}</a></p>
                                    {{/each}}                      
                                </div>
                                <div class="col-lg-5">
                                    {{#each getcat}}
                                        <p><a href="/listprobycat/{{_id}}">{{name}}</a></p>
                                    {{/each}}
                                </div> 
                            </div>
                            <div class="row">
                                <div class="col-lg-3">
                                    <img src="images/process1.png" class="img-responsive">    
                                </div>
                                <div class="col-lg-2">
                                    <div class="clearfix-on-row">
                                       <p class="black">${{goal}}</p>
                                       <p class="black">44%</p>
                                    </div>
                                </div>
                                <div class="col-lg-7">
                                    <p class="black-blur-top pull-right">{{totalLike}} <span class="glyphicon glyphicon-heart" aria-hidden="true"></span>&nbsp; <span>J-32</span></p>
                                    <p class="pull-right"><span>{{datemax}}</span></p>     
                                </div>
                            </div>
                        </div>
                        {{/each}}
                        {{/each}}
                    </div>
                </div>
            </div>
        </section>
    {{/if}}
    {{#if compareTitle}}
        <section id="special-layout">
            <div id="page-la-bases">
                <div class="well-box">
                    <div class="row">
                        {{#each getprojectlist}}
                        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 left-box row-pad">
                            <p class="blue">{{title}}</p>
                            <a href="/projectdetail/{{_id}}" title="Startup One Page">
                                <img src="/upload/{{getimage image}}" class="img-responsive center-block img-title" alt="Startup One Page" title="Startup One Page" width="266"/>
                            </a>
                            <p class="black-small">{{shortIt description}}</p>
                            <div class="row">
                                <div class="col-lg-7">
                                    {{#each getUser ownerId}}
                                        <p class="blue"><a href="/userinfo/{{_id}}">{{profile.username}}{{services.facebook.name}}</a></p>
                                    {{/each}}                      
                                </div>
                                <div class="col-lg-5">
                                    {{#each getcat}}
                                        <p><a href="/listprobycat/{{_id}}">{{name}}</a></p>
                                    {{/each}}
                                </div> 
                            </div>
                            <div class="row">
                                <div class="col-lg-3">
                                    <img src="images/process1.png" class="img-responsive">    
                                </div>
                                <div class="col-lg-2">
                                    <div class="clearfix-on-row">
                                       <p class="black">${{goal}}</p>
                                       <p class="black">44%</p>
                                    </div>
                                </div>
                                <div class="col-lg-7">
                                    <p class="black-blur-top pull-right">{{totalLike}} <span class="glyphicon glyphicon-heart" aria-hidden="true"></span>&nbsp; <span>J-32</span></p>
                                    <p class="pull-right"><span>{{datemax}}</span></p>      
                                </div>
                            </div>
                        </div>
                        {{/each}}
                    </div>
                </div>
            </div>
        </section>
    {{/if}}
    {{#if compareGoal}}
        <section id="special-layout">
            <div id="page-la-bases">
                <div class="well-box">
                    <div class="row">
                        {{#each sortGoal}}
                        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 left-box row-pad">
                            <p class="blue">{{title}}</p>
                            <a href="/projectdetail/{{_id}}" title="Startup One Page">
                                <img src="/upload/{{getimage image}}" class="img-responsive center-block img-title" alt="Startup One Page" title="Startup One Page" width="266"/>
                            </a>
                            <p class="black-small">{{shortIt description}}</p>
                            <div class="row">
                                <div class="col-lg-7">
                                    {{#each getUser ownerId}}
                                        <p class="blue"><a href="/userinfo/{{_id}}">{{profile.username}}{{services.facebook.name}}</a></p>
                                    {{/each}}                      
                                </div>
                                <div class="col-lg-5">
                                    {{#each getcat}}
                                        <p><a href="/listprobycat/{{_id}}">{{name}}</a></p>
                                    {{/each}}
                                </div> 
                            </div>
                            <div class="row">
                                <div class="col-lg-3">
                                    <img src="images/process1.png" class="img-responsive">    
                                </div>
                                <div class="col-lg-2">
                                    <div class="clearfix-on-row">
                                       <p class="black">${{goal}}</p>
                                       <p class="black">44%</p>
                                    </div>
                                </div>
                                <div class="col-lg-7">
                                    <p class="black-blur-top pull-right">{{totalLike}} <span class="glyphicon glyphicon-heart" aria-hidden="true"></span>&nbsp; <span>J-32</span></p>
                                    <p class="pull-right"><span>{{datemax}}</span></p>      
                                </div>
                            </div>
                        </div>
                        {{/each}}
                    </div>
                </div>
            </div>
        </section>
    {{/if}}
</template>

    